<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<H3>UPDATE PRODUCT</H3>
<form th:action="@{/admin/products/update}" method="post" th:object="${product}">
    <input type="hidden" name="id" th:value="${product.getId()}">
    <label>Name:</label>
    <input type="text" name="name" placeholder="name" th:value="${product.getName()}"><br>
    <label>Description:</label>
    <input type="text" name="description" placeholder="description" th:value="${product.getDescription()}"><br>
    <label>Unit:</label>
    <input type="text" name="unit" placeholder="unit" th:value="${product.getUnit()}"><br>
    <input type="submit" value="UPDATE">
</form>
</body>
</html>